**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html
lighthouse_results/**
_posts/2015-10-20-math.md
_sass/font-awesome/*.scss
_sass/tabler-icons/*.scss
_scripts/*
_includes/**
!_includes/header.liquid
_layouts/**
!_layouts/about.liquid
_pages/404.md
_pages/about_einstein.md
_pages/news.md
_pages/projects.md
_pages/publications.md
_pages/repositories.md
_projects/**
_data/coauthors.yml
_data/cv.yml
_data/socials.yml
_data/venues.yml
_sass/**
!_sass/_base.scss
.all-contributorsrc
.devcontainer/**
.github/**
assets/css/**
assets/html/**
assets/js/**
CONTRIBUTING.md
CUSTOMIZE.md
INSTALL.md
README.md
docker-compose.yml
docker-compose-slim.yml
package.json
package-lock.json
purgecss.config.js
